<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.wpkg.org/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.wpkg.org/config xsd/config.xsd">
	<!--
		*******************************************************************************
		*
		* If you use wpkg_web, you can set wpkg_base to the base URL of your
		* WPKG_Web installation. NO TRAILING SLASH (/). This will allow WPKG to
		* use the web generated XML file and not require further XML Exports to the
		* file system.
		*
		* Examples:
		*     <param name='wpkg_base' value='http://wpkg.mydomain.com' />
		*     <param name='wpkg_base' value='http://www.mydomain.com/wpkg_web' />
		*     <param name='wpkg_base' value='http://USER:PASS@wpkg.mydomain.com' />
		*
		* NOTE: Replace USER and PASS with the required credentials to access your
		*       installation. Configure this user in config.php for WPKG_Web
		*       version 1.1.0 and greater.
		*
		* NOTE: If you would like to use the flat XML file instead of the web based
		*       method, leave the variable declaration as followed:
		*       <param name='wpkg_base' value='' />
		*
		* Default value      : ''
		* Command-line switch: /base:<base-url>
		******************************************************************************
	-->
	<!--
		<param name='wpkg_base' value='http://wpkg:secret@wpkg.mydomain.com' />
	-->
	<!--
		<param name='wpkg_base' value='' />
	-->


	<!--
		****************************************************************************
		* True : Do not consider wpkg.xml but check existence of packages.
		* False: Do not force re-detection. Use wpkg.xml to detect current package
		*        status
		*
		* Default value      : false
		* Command-line switch: /force
		****************************************************************************
	-->
	<!--
		<param name='force' value='false' />
	-->


	<!--
		****************************************************************************
		* True : Force installation over existing packages.
		* False: Skip package installation if package is already installed.
		*
		* Default value      : false
		* Command-line switch: /forceinstall
		****************************************************************************
	-->
	<!--
		<param name='forceInstall' value='false' />
	-->


	<!--
		****************************************************************************
		* True : Force the script to immediately quit on error.
		* False: Errors are logged but WPKG continues processing.
		*
		* Default value      : false
		* Command-line switch: /quitonerror
		****************************************************************************
	-->
	<!--
		<param name='quitonerror' value='false' />
	 -->


	<!--
		****************************************************************************
		* True : Enable debug mode. Prints lots of ugly debug messages to event log.
		* False: Disable debug logging to event log.
		*
		* NOTE: This flag is independent from the log level setting. So you can even
		*       enable debug logging to log files without setting this flag to true
		*       which prevents your event log to be flooded.
		*
		* Default value      : false
		* Command-line switch: /debug
		****************************************************************************
	-->
	<!--
		<param name='debug' value='false' />
	-->


	<!--
		****************************************************************************
		* True : Enable dryrun mode. Does not apply any changes to the system.
		*        Enables debug output and disables reboot.
		* False: Apply changes to the system.
		*
		* Default value      : false
		* Command-line switch: /dryrun
		****************************************************************************
	-->
	<!--
		<param name='dryrun' value='false' />
	-->


	<!--
		****************************************************************************
		* Should be set to true in case of unattended run (WPKG service).
		*
		* True : Disable all log messages printed to the console (cscript) or
		*        displayed as dialog boxes (wscript).
		* False: Alerts the user about ongoing activity using windows messaging.
		*
		* Default value      : false
		* Command-line switch: /quiet
		****************************************************************************
	-->
	<!--
		<param name='quiet' value='false' />
	-->


	<!--
		****************************************************************************
		* True : Disable user notification about WPKG actions using windows messaging.
		*        Should be set to true in case of unattended run (WPKG service)
		* False: Alerts the user about ongoing activity using windows messaging.
		*
		* Default value      : false
		* Command-line switch: /nonotify
		****************************************************************************
	-->
	<!--
		<param name='nonotify' value='false' />
	-->


	<!--
		****************************************************************************
		* Defines how long a user notification is displayed to the user. After
		* timeout has been reached the message will be closed. Specify 0 in order to
		* specify that messages are never closed automatically.
		* Note: This only works on Windows Vista or newer where msg.exe is
		* available.
		*
		* Default value      : 10
		* Command-line switch: -
		****************************************************************************
	-->
	<!--
		<param name='notificationDisplayTime' value='10' />
	-->


	<!--
		****************************************************************************
		* True : System does not reboot regardless of need.
		* False: Reboot the system as specified by packages.
		*
		* Default value      : false
		* Command-line switch: /noreboot
		****************************************************************************
	-->
	<!--
		<param name='noreboot' value='false' />
	-->


	<!--
		****************************************************************************
		* True : Disable export of running state to Windows registry at
		*        HKCU\Software\WPKG\running
		* False: Export running state to Windows registry at HKCU\Software\WPKG\running
		*
		* Default value      : false
		* Command-line switch: /norunningstate
		****************************************************************************
	-->
	<!--
		<param name='noRunningState' value='false' />
	-->


	<!--
		****************************************************************************
		* True : Matching of package and profile IDs is case sensitive.
		* False: Disable case sensitivity for package and profile IDs.
		*        WPKG will consider the package ID "SomePackage" and "SoMePaCkAgE"
		*        the same.
		*
		* Default value      : true
		* Command-line switch: /ignoreCase
		****************************************************************************
	-->
	<!--
		<param name='caseSensitivity' value='true' />
	-->


	<!--
		****************************************************************************
		* True : Match multiple host entries to a single host. 
		* False: Only match one host entry to the executing host. If a matching host
		*        entry is found the algorithm stops looking for further matches.
		*        This way only one profile is assigned to a host.
		*
		* Default value      : false
		* Command-line switch: /applymultiple
		****************************************************************************
	-->
	<!--
		<param name='applyMultiple' value='false' />
	-->


	<!--
		****************************************************************************
		* True : Disable all downloads. In this mode all download instructions
		*        will be simply ignored. Exactly the same way as if they were not
		*        specified in the XML at all. Use this option with caution as your
		*        install commands might require the files downloaded in download
		*        specifications.
		*        This switch/setting might be used on hosts which get the packages
		*        synchronized to the download target so the download files already
		*        exist before WPKG execution.
		* False: Default behavior. All downloads are executed as specified within
		*        the XML files.
		*
		* Default value      : false
		* Command-line switch: /noDownload
		****************************************************************************
	-->
	<!--
		<param name='noDownload' value='false' />
	-->


	<!--
		****************************************************************************
		* Use the specified command for rebooting, either with full path or relative
		* to the location of wpkg.js.
		* Setting rebootCmd to "special" will use tools\psshutdown.exe from
		* from www.sysinternals.com - if it exists
		* Any other value will make WPKG to try executing the command specified as
		* <command> and then exit with code 3010.
		*
		* Default value      : "standard"
		* Command-line switch: /rebootcmd:<command>
		****************************************************************************
	-->
	<!--
		<param name='rebootCmd' value='standard' />
	-->


	<!--
		****************************************************************************
		* Filename of the local package database (client-side) stored at
		* %SystemRoot%\system32 by default (see settings_file_path)
		*
		* Default value      : "wpkg.xml"
		* Command-line switch: -
		****************************************************************************
	-->
	<!--
		<param name='settings_file_name' value='wpkg.xml' />
	-->


	<!--
		****************************************************************************
		* Path to the local package database (client-side). It is strongly suggested
		* to NOT set this parameter at all if not required.
		* Only change this parameter if you really know what you're doing.
		*
		* Default value      : "%SystemRoot%\\system32"
		* Command-line switch: -
		****************************************************************************
	-->
	<!--
		<param name='settings_file_path' value='%SystemRoot%\\system32' />
	-->


	<!--
		****************************************************************************
		* True : Disable forced removal of packages if they are removed from the
		*        profile AND the package database.
		*  NOTE: A client might continuously try to uninstall a package if an
		*        uninstall command fails.
		* False: 
		*
		* Default value      : false
		* Command-line switch: /noforcedremove
		****************************************************************************
	-->
	<!--
		<param name='noForcedRemove' value='false' />
	-->


	<!--
		****************************************************************************
		* True : Allows to disable removing of packages. If used in conjunction with
		*        the /synchronize parameter it will just add packages but never remove
		*        them. Instead of removing a list of packages which would have been
		*        removed during that session is printed on exit. Packages are not
		*        removed from the local settings database (wpkg.xml). Therefore it
		*        will contain a list of all packages ever installed.
		*  NOTE: Each package which is requested to be removed (manually or by
		*        a synchronization request) will be checked for its state by executing
		*        its included package checks. If the package has been removed manually
		*        it will also be removed from the settings database. Due to the fact
		*        that packages without checks always return 'false' for during the
		*        install-status check these packages will disappear from the local
		*        wpkg.xml.
		* False: Remove packages from the system if they are not listed within the
		*        profile any more.
		*
		* Default value      : false
		* Command-line switch: /noremove
		****************************************************************************
	-->
	<!--
		<param name='noRemove' value='false' />
	-->


	<!--
		****************************************************************************
		* Controls weather WPKG prints some information about its progress to
		* STDOUT. This output can be read by another program (GUI) to display some
		* progress bar or additional status information to the user.
		*
		* True : Enable status output on STDOUT.
		* False: Disable status output on STDOUT.
		*
		* Default value      : false
		* Command-line switch: /sendStatus
		****************************************************************************
	-->
	<!--
		<param name='sendStatus' value='false' />
	-->


	<!--
		****************************************************************************
		* Usually WPKG upgrades a package to the latest available version before it
		* removes the package. This allows administrators to fix bugs in the package
		* and assure proper removal.
		* However this feature can lead to (sometimes unexpected) re-execution of
		* packages. For example if execution=always is used the package will run
		* once again before it is finally removed.
		* It's advised to leave this option on default unless you really know what
		* you're doing.
		*
		* True : Disables the upgrade-before-remove feature
		* False: Leave the upgrade-before-remove feature enabled
		*
		* Default value      : false
		* Command-line switch: /noUpgradeBeforeRemove
		****************************************************************************
	-->
	<!--
		<param name='noUpgradeBeforeRemove' value='false' />
	-->

	<!--
		****************************************************************************
		* Allows to disable insert of host attributes to local settings DB. This is
		* handy for testing as the current test-suite compares the local wpkg.xml
		* database and the file will look different on all test machines if these
		* attribute are present. This setting might be removed if all test-cases
		* are adapted.
		*
		* True : Includes host information in local wpkg.xml attributes
		* False: Does not include any host information in local wpkg.xml
		*
		* Default value      : true
		* Command-line switch: 
		****************************************************************************
	-->
	<!--
		<param name='settingsHostInfo' value='true' />
	-->

	<!--
		****************************************************************************
		* Marks volatile releases and "inverts" the algorithm that a longer
		* version number is newer. For example 1.0RC2 would be newer than 1.0 because
		* it appends characters to the version. Using "rc" as a volatile release
		* marker the algorithm ignores the appendix and assumes that the string which
		* omits the marker is newer.
		* Resulting in 1.0 to be treated as newer than 1.0RC2.
		* Caution: Be careful defining volatile release markers because it could have
		* undesired effects. For example specifying "b" would also make 1.0b5 appear
		* to be older than 1.0 (where "b" is usually a build number appended to the
		* version).
		* So please change this parameter only if you really know what you're doing.
		*
		* Currently the built-in list contains the following appendices:
		* "rc", "i", "m", "alpha", "beta", "pre", "prerelease"
		*
		* The parameter might be defined as many times as you like. Each entry will
		* add another entry to the list of volatile version markers.
		*
		* Default value      : [built-in]
		* Command-line switch: -
		****************************************************************************
	-->
	<!--
		<param name='volatileReleaseMarker' value='gamma' />
		<param name='volatileReleaseMarker' value='delta' />
		<param name='volatileReleaseMarker' value='testing' />
	-->

	<!--
		****************************************************************************
		* Allows to switch to remote mode where package verification is skipped.
		* remote: Disable package checks and assume that packages in settings
		*         database are still correctly installed. In remote mode also the
		*         host information is read from the local settings database.
		* local:  Default setting. Query verifies package status using all checks.
		* Note: Query mode can only be used with the query switch. It is ignored
		* if no /query: command line parameter is used.
		*
		* Details: If you intend to copy the local wpkg.xml file to a remote system
		* and execute WPKG queries based on this settings database (wpkg.xml) then
		* WPKG might print some packages as "required for installation" since the
		* package checks fail on the remote host as the package might not be
		* installed on the remote host. If remote mode is enabled, then WPKG assumes
		* that the packages are properly installed on the executing host without
		* actually verifying it.
		* Of course it might happen in this case that a package query on the remote
		* system says that a package does not need any change but on the real system
		* the user might have removed the software meanwhile which will trigger an
		* installation if WPKG is run on the client.
		*
		* Also note that in remote query mode WPKG will read all host attributes
		* from the settings file (wpkg.xml) if these attributes are available. This
		* includes hostname, architecture, OS, IP addresses, domainname, groups,
		* LCID of the executing user and LCID of the operating system.
		* This is required in order to allow evaluation of all conditional
		* attributes in exactly the same way as it will evaluate on the client.
		*
		* Default value      : local
		* Command-line switch: /queryMode:<local|remote>
		****************************************************************************
	-->
	<!--
		<param name='queryMode' value='local' />
		<param name='queryMode' value='remote' />
	-->

	<!--
		****************************************************************************
		****************************************************************************
		*
		*  Logging properties
		*
		****************************************************************************
		****************************************************************************
	-->
	<!--
		****************************************************************************
		* Specifies if the log file should be appended or overwritten.
		*
		* True : Log files are appended instead of overwritten. Please note that
		*        log files could grow quite large if debug level logging is enabled.
		*        Depending on the pattern (date and time used) a new log file might
		*        be written on each run.
		* False: Log files are overwritten on each run. This is the default setting
		*        and it is aimed for the target to keep only the log of the most
		*        recent WPKG run.
		*
		* Default value      : false
		* Command-line switch: /logAppend
		****************************************************************************
	-->
	<!--
		<param name='logAppend' value='false' />
	-->


	<!--
		****************************************************************************
		* Log level is defined as a bitmask. Just sum up the values of each log
		* severity you would like to include within the log file and add this value
		* to your config.xml or specify it at /logLevel:<num>.
		* Specify 0 to disable logging.
		*  1: log errors only
		*  2: log warnings
		*  4: log information
		*  8: log audit success
		* 16: log audit failure
		*
		* Examples:
		*     31 log everything (1+2+4+8+16=31)
		*     13 log errors, information and audit success (1+4+8=13)
		*      3 log errors and warnings only (1+2=3)
		*
		* Default value      : "0xFF"
		* Command-line switch: /logLevel:<level>
		****************************************************************************
	-->
	<!--
		<param name='logLevel' value='0xFF' />
	-->


	<!--
		****************************************************************************
		* Path where the logfiles are written to. This might be an UNC path on the
		* network as well as a local path. Environment variables are expanded.
		*
		* Examples:
		*     <param name='log_file_path' value='%TEMP%' />
		*     <param name='log_file_path' value='\\\\server\\share\\dir' />
		*
		* Default value      : "%TEMP%"
		* Command-line switch: /log_file_path:<path>
		****************************************************************************
	-->
	<!--
		<param name='log_file_path' value='%TEMP%' />
	-->


	<!--
		****************************************************************************
		* Pattern to generate the log file name.
		* Recognized patterns:
		* [HOSTNAME] replaced by the executing hostname
		* [PROFILE]  replaced by the applying profile name
		* [YYYY]     replaced by year (4 digits)
		* [MM]       replaced by month number (2 digits)
		* [DD]       replaced by the day of the month (2 digits)
		* [hh]       replaced by hour of the day (24h format, 2 digits)
		* [mm]       replaced by minutes (2 digits)
		* [ss]       replaced by seconds (2 digits)
		*
		* Examples:
		*     "wpkg-[YYYY]-[MM]-[DD]-[HOSTNAME].log" results in a name like
		*         "wpkg-2007-11-04-myhost.log"
		*
		* NOTE: Using [PROFILE] causes all log messages from before reading
		*       profiles.xml to be temporarily written to the local %TEMP% folder.
		*       So they might appear on the final log file with some delay.
		*
		* NOTE: The default pattern allows tracing of last execution without polluting
		*       the log directory. Subsequent executions will overwrite the same log
		*       file.
		*
		* Default value      : "wpkg-[HOSTNAME].log"
		* Command-line switch: /logfilePattern:<pattern>
		****************************************************************************
	-->
	<!--
		<param name='logfilePattern' value='wpkg-[HOSTNAME].log' />
	-->


	<!--
		****************************************************************************
		****************************************************************************
		*
		*  Path properties
		*
		****************************************************************************
		****************************************************************************
	-->
	<!--
		****************************************************************************
		*  Names of the the XML input files.  Not used if base begins with "http"
		****************************************************************************
	-->
	<!--
		<param name='packages_file_name' value='packages.xml' />
		<param name='profiles_file_name' value='profiles.xml' />
		<param name='hosts_file_name'    value='hosts.xml' />
	-->

	<!--
		 ****************************************************************************
		 *  Names of the PHP scripts which output the XML files.  Only used if
		 *  base begins with "http"
		 ****************************************************************************
	-->
	<!--
		<param name='web_packages_file_name' value='packages_xml_out.php' />
		<param name='web_profiles_file_name' value='profiles_xml_out.php' />
		<param name='web_hosts_file_name'    value='hosts_xml_out.php' />
	-->

	<!--
		****************************************************************************
		* Registry paths
		****************************************************************************
	-->
	<!--
		<param name='sRegPath' value='SOFTWARE\\Microsoft\\Windows\\CurrentVersion\\Uninstall' />
		<param name='sRegWPKG_Running' value='HKLM\\Software\\WPKG\\running' />
	-->


	<!--
		****************************************************************************
		****************************************************************************
		* Language definitions
		*
		* Defines language specific strings. Insert languages as you wish. Multiple
		* LCID codes might be handled by one language definition. Just separate them
		* by comma. A full list of LCIDs might be found at:
		* http://www.microsoft.com/globaldev/reference/lcid-all.mspx
		*
		* This is entirely optional. If a message is not defined here the script
		* will just print a built-in English message.
		*
		* Please note that the message has a maximum of 256 characters on Windows
		* Vista and newer operating systems due to limitation of the messaging
		* system. Longer messages will result in no message being displayed at all.
		*
		****************************************************************************
		****************************************************************************
	-->
	<languages>
		<!-- English LCIDs -->
		<language lcid="409,809,c09,2809,1009,2409,3c09,4009,3c09,4009,3809,1809,2009,4409,1409,3409,4809,1c09,2c09,3009">
			<!-- <string id="notifyUserStart">The automated software installation utility has or is currently applying software updates to your system. Please check the time shown at the beginning of this message to determine if it is out of date. If not, please save all your open documents, as the system might require a reboot. If so, the system will be rebooted with no warning when installation is complete. Thank you.</string> -->
			<string id="notifyUserStart">Automatic software deployment is currently updating your system. Please save all your documents as the the system might reboot without further notice. Thank you.</string>
			<string id="notifyUserStop">The automated software installation utility has completed installing or updating software on your system. No reboot was necessary. All updates are complete.</string>
			<string id="notifyUserFail">The software installation has failed.</string>
			<string id="notifyUserReboot">Rebooting to complete software installation. Please note that some software might not work until the machine is rebooted.</string>
		</language>

		<!-- French LCIDs -->
		<language lcid="40c,80c,2c0c,c0c,240c,300c,3c0c,140c,340c,180c,380c,e40c,200c,280c,100c,1c0c">
			<string id="notifyUserStart">WPKG, l'utilitaire d'installation automatique des programmes a appliqué ou applique en ce moment des mises à jour à votre système. Veuillez consulter l'heure au début de ce message afin de vérifier que cette information ne soit pas obsolète. Veuillez sauvegarder tous vos documents ouverts, car un redémarrage peut être nécessaire et, dans ce cas, le système redémarrera sans avertissement à la fin de l'installation ou de la mise à jour. Merci.</string>
			<string id="notifyUserStop">WPKG, l'utilitaire d'installation automatique de logiciels a terminé l'installation ou l'actualisation des logiciels sur votre système. Aucun redémarrage n'était requis. Toutes les mises à jour sont achevées.</string>
			<string id="notifyUserFail">L'installation des logiciels est échoué.</string>
			<string id="notifyUserReboot">Un rédémarrage est nécessaire pour compléter l'installation ou la mise à jour. Veuillez noter que les programmes nouveaux/actualisées peuvent ne pas fonctionner avant redémarrage du système.</string>
		</language>

		<!-- German LCIDs -->
		<language lcid="407,c07,1407,1007,807">
			<!-- <string id="notifyUserStart">Das WPKG Software-Installationstool installiert oder aktualisiert gerade Software auf Ihrem System. Bitte die Zeit am Anfang der Nachricht kontrollieren, ggf. ist dieser Hinweis veraltet. Wenn nicht: Speichern Sie bitte alle Ihre offenen Dokumente, da ein Neustart notwendig werden kann. Das System wird ohne weitere Warnung neu starten, wenn die Installation oder Aktualisierung beendet wurde. Danke.</string> -->
			<string id="notifyUserStart">Die automatische Software-Verteilung läuft gerade. Bitte speichern Sie ihre offenen Dokumente, weil das System unter Umständen ohne weitere Warnung neu startet. Danke.</string>
			<string id="notifyUserStop">Das WPKG Software-Installationstool hat die Installation oder Aktualisierung von Software auf Ihrem System beendet. Es war kein Neustart notwendig. Alle Updates sind komplett.</string>
			<string id="notifyUserFail">Die Software-Installation ist fehlgeschlagen.</string>
			<string id="notifyUserReboot">Neustart zum Abschließen der Installation. Bitte beachten: Die neu installierte/aktualisierte Software funktioniert ggf. erst nach einem Neustart.</string>
		</language>

		<!-- Italian LCIDs -->
		<language lcid="410,810">
			<string id="notifyUserStart">L'utilità di installazione automatica del software sta aggiornando il sistema. Verifica la marcatura temporale di questa segnalazione per capire se c'è qualche problema. Se tutto è a posto, salva e chiudi tutte le applicazioni aperte, perchè potrebbe essere necessario un riavvio. Se necessario, il sistema verrà infatti riavviato senza alcun preavviso. Grazie.</string>
			<string id="notifyUserStop">L'utilità di installazione automatica del software ha terminato di aggiornare il sistema. Non si è reso necessario un riavvio. Tutti gli aggiornamenti sono andati a buon fine.</string>
			<string id="notifyUserFail">Qualcosa nell'aggiornamento del sistema è fallito.</string>
			<string id="notifyUserReboot">Riavvia per completare l'aggiornamento del sistema. Qualche programma potrebbe non funzionare correttamente senza un riavvio.</string>
		</language>
	</languages>
</config>
